{erl_opts, [debug_info]}.
{deps, [{epgsql, ".*",
         {git, "https://github.com/SiftLogic/epgsql.git", {branch, "master"}}}
       ]}.

{relx, [{release, { crdb, "0.1.0" },
         [crdb,
          sasl,
          kernel,
          stdlib,
          asn1,
          crypto,
          public_key,
          ssl,
          epgsql]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}
       ]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.

%%{escript_main_app, crdb}. % if more than 1 app, specify which is main
%%{escript_name, "crdb"}. % name of final generated escript
{escript_incl_apps, [sasl,
                     asn1,
                     crypto,
                     public_key,
                     ssl]}. % apps (other than main and deps) to be included
%%{escript_incl_extra, ["path/*"]}. % other files to include in escript
%%{escript_shebang, "#!/usr/bin/env escript\n"}. % executable line
%%{escript_comment, "%%\n"}. % comment at top of escript file
%%{escript_emu_args, "%%! -escript main ~s -pa ~s/~s/ebin\n"}. % emulator args